
@{
    ViewBag.Title = "Samples";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="requestsample_bg thebanner nopaddingtop4">
    <div class="mainbanner-content row">
        <div class="large-8 columns">
            <img src="~/img/requestsamples-img.png">
        </div>
        <div class="large-4 columns bigh1">
            <h1>Request Samples</h1>
            <span class="bigspan">Quality that sells itself</span><br>
            <p>
                Our cards make you look good! At Amazingmail, we pride ourselves in the premium materials we use,
                allowing us to produce card quality that is second to none. Experience our product quality first hand by requesting some samples. Our team can send you a sample kit showcases a variety of different sizes or provide you with a free card credit in your account, allowing you to create and mail your own personalized sample online. Let us know what you prefer.
            </p>
        </div>
    </div>
</div>


<div class="nopaddingtop3 thebanner woodbg formrequest_sample">
    <div class="row">
        <div class="large-12 columns aligncenter">
            <h4>Tell Us Where To Send Your Sample Kit</h4>
        </div>
        <div class="large-12 columns contactform requestsamples">
            <div class="aligncenter thecontent">
                <form action="#" method="post">
                    <div class="large-12 columns">
                        <div class="large-6 columns"><input type="text" placeholder="*Organization"></div>
                        <div class="large-6 columns"><input type="text" placeholder="*Email Address"></div>
                    </div>
                    <div class="large-12 columns">
                        <div class="large-6 columns"><input type="text" placeholder="*First Name"></div>
                        <div class="large-6 columns"><input type="text" placeholder="*Last Name"></div>
                    </div>
                    <div class="large-12 columns">
                        <div class="large-6 columns"><input type="text" placeholder="Address 1"></div>
                        <div class="large-6 columns"><input type="text" placeholder="Address 2"></div>
                    </div>
                    <div class="large-12 columns">
                        <div class="large-6 columns"><input type="text" placeholder="City"></div>
                        <div class="large-6 columns">
                            <select>
                                <option value="selectstate" selected>--Select Your State</option>
                                <option value="ny" selected>NY</option>
                            </select>
                        </div>
                    </div>
                    <div class="large-12 columns">
                        <div class="large-6 columns"><input type="text" placeholder="Zip"></div>
                        <div class="large-6 columns"><input type="text" placeholder="Phone Number"></div>
                    </div>
                    <div class="large-12 columns">
                        <textarea placeholder="*Comments"></textarea>
                        <div class="aligncenter submitcontainer">
                            <input type="submit" value="SUBMIT" class="orangebutton">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

