@{
    ViewBag.Title = "Home Page";
}

<div id="homebanner" class="homebanner-bg thebanner">
    <div class="mainbanner-content row">
        <div class="large-7 columns">
            <img src="~/img/cardbnr.png">
        </div>
        <div class="large-5 columns">
            <h1>
                Personalized Direct Mail.<br>
                Next Business Day.<br>
                No Minimums. <br>
            </h1>
            <p>
                Engineered to put your direct mail marketing in overdrive. Increase engagement, build customer relationships and get more results out of your marketing budget. Amazingmail makes automating direct mail quick, easy and cost effective.
            </p>
            <a href="#" class="getstarted">Get Started</a>
        </div>
    </div>
</div>
<div class="solutions-portion">
    <div class="row">
        <h1 class="aligncenter paddingtop paddingbottom">Solutions</h1>
    </div>
    <div class="row paddingbottom listofsolutions">
        <div class="large-3 columns">
            <a href="~/BusinessSolutions/AutomatedDirectMail" class="sol1 paddingbottom bsol_uniform"></a>
            <h5>Automated Direct Mail</h5>
            <p>
                Create triggers to send physical postcards based on customer behaviors. Personalize each postcard with data from your CRM. We will print and mail them the next business day. No minimum.
            </p>
            <a href="~/BusinessSolutions/AutomatedDirectMail" class="arrowright">Learn More</a>
        </div>
        <div class="large-3 columns">
            <a href="#" class="sol2 paddingbottom bsol_uniform"></a>
            <h5>Easy CRM Integration</h5>
            <p>
                Seamlessly send us data from your CRM to drive leads and nurture client relationships with triggered, personalized mail.
            </p>
            <a href="#" class="arrowright">Learn More</a>
        </div>
        <div class="large-3 columns">
            <a href="~/BusinessSolutions/PrintOnDemandWebPortals" class="sol3 paddingbottom bsol_uniform"></a>
            <h5>Print On Demand Web Portals</h5>
            <p>
                Leverage our intuitive drag and drop design tools to create and send postcard campaigns through your corporate branded web portal. Provide your team with access to create direct mail on demand while maintaining control of your brand standards.
            </p>
            <a href="~/BusinessSolutions/PrintOnDemandWebPortals" class="arrowright">Learn More</a>
        </div>
        <div class="large-3 columns">
            <a href="~/BusinessSolutions/ResponseTracking" class="sol4 paddingbottom bsol_uniform"></a>
            <h5>Response Tracking</h5>
            <p>
                How’s your campaign performing? You’ll know every step of the way with our innovative tracking tools. Focus on the data that matters most for your campaign.
            </p>
            <a href="~/BusinessSolutions/ResponseTracking" class="arrowright">Learn More</a>
        </div>
    </div>
</div>
<div class="cta-orange">
    <div class="row aligncenter">
        <a href="~/BusinessSolutions/WhiteLabelFullFillmentSolutions"><h1>White Label Our Direct Mail Solutions</h1></a>
    </div>
</div>
<div class="gradientblue">
    <div class="row aligncenter paddingtop heading">
        <h1>Eye-Catching and Durable</h1>
        <p>Our high quality, full-color mail pieces are printed and laminated on 110-pound, 12-point card stock. Mail with confidence knowing our Postal Protect™ process will ensure products are delivered in the most pristine conditional possible.</p>
    </div>
    <div class="textcaptions row">
        <div class="brochures">
            <h6>Brochures</h6>
            <p>Design and mail full-color brochures in just minutes. No minimums.</p>
            <a href="#" class="arrowright">Learn More</a>
        </div>
        <div class="postcards">
            <h6>Postcards</h6>
            <p>Our most popular direct mail product. Results driven and cost effective.</p>
            <a href="#" class="arrowright">Learn More</a>
        </div>
        <div class="flyers">
            <h6>Flyers</h6>
            <p>Effective attention-getters ready for your next event. Boxed and shipped the next business day.</p>
            <a href="#" class="arrowright">Learn More</a>
        </div>
        <div class="folded-cards">
            <h6>Folded Cards</h6>
            <p>Need more space or additional privacy on your mail piece? Our folded cards get the job done.</p>
            <a href="#" class="arrowright">Learn More</a>
        </div>
    </div>
    <div class="row aligncenter paddingtop">
        <img src="~/img/cardscombine.png">
    </div>
</div>
<div class="typeofbusiness">
    <div class="row">
        <h1 class="aligncenter paddingtop paddingbottom">What Types of Businesses Use Amazingmail?</h1>
    </div>

    <div class="row paddingbottom">
        <ul class="listofbusiness">
            <li>
                <div class="pic1 picall">
                    <div class="heading">
                        <h6>Large Enterprise</h6>
                    </div>
                    <div class="text">
                        <h6>Large Enterprise</h6>
                        <p>Private label our direct mail service and allow Amazingmail to handle all of your printing and mailing needs. Automate your direct mail fulfillment through our API, or access our print-on-demand web portal and to send personalized campaigns from anywhere in the world. Next business day. No minimum.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="pic2 picall">
                    <div class="heading">
                        <h6>CRM Users</h6>
                    </div>
                    <div class="text">
                        <h6>CRM Users</h6>
                        <p>Real cards as easy as email.  Setup triggers in your CRM to automatically send a personalized postcard. Thank a client for their recent purchase, wish them a happy birthday, remind them of an upcoming appointment or even entice them with a reactivation promo.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="pic3 picall">
                    <div class="heading">
                        <h6>Mobile App Developers</h6>
                    </div>
                    <div class="text">
                        <h6>Mobile App Developers</h6>
                        <p>Add a new revenue stream by allowing users to create and mail personalized cards from your mobile app.  Postcard orders will be seamlessly sent though our API. Amazingmail will print and mail your customer’s cards the next business day. No minimum.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="pic4 picall">
                    <div class="heading">
                        <h6>Small Business</h6>
                    </div>
                    <div class="text">
                        <h6>Small Business</h6>
                        <p>Upsell, cross sell, or reel in new prospects with a special offer. You can even jump online and send potential customers a postcard or a meeting follow-up to remain top of mind.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="pic5 picall">
                    <div class="heading">
                        <h6>Any Business With A Direct Mail Component</h6>
                    </div>
                    <div class="text">
                        <h6>Any Business With A Direct Mail Component</h6>
                        <p>We can meet the direct mail needs of any business at any time. Contact Amazingmail to achieve success with your direct mail.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>