
@{
    ViewBag.Title = "AutomatedDirectMail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="automaticdirectmail-bg thebanner">
    <div class="mainbanner-content row">
        <div class="large-4 columns">
            <h1>Increase Your Response Rates Fivefold with our Automated Direct Mail Technology</h1>
            <p>
                Research shows response rates are at least five times higher with triggered, event-driven direct mail. Send cards that are personalized, relevant and do it automatically.  We’ll print and mail the next business day. No Minimums.
            </p>
        </div>
        <div class="large-8 columns">
            <img src="~/img/card3.png">
        </div>
    </div>
</div>


<div class="adm-banner2 adm-banner thebanner">
    <div class="row textalignright">
        <div class="large-4 columns"></div>
        <div class="large-7 columns bigh1">
            <h1>Nurture, Retain, and Grow Your Customer Base</h1>
            <p>Automated direct mail gives you a scalable ability to thank customers for their recent purchases, wish them a happy birthday, remind them of an upcoming appointment or even entice with a reactivation promo.  Using direct mail to stay connected to your customer’s leads to keeping your company top of mind, higher retention rates and increased sales.</p>
        </div>
    </div>
</div>

<div class="adm-banner3 adm-banner thebanner">
    <div class="row">
        <div class="large-7 columns bigh1">
            <h1>Easily Send<br> Automated Direct Mail</h1>
            <p>Set up event triggers within your CRM or marketing automation platform and send relevant, personalized direct mail is as easy as sending an email.  Let your customers’ behavior and activity determine when your direct mail will be the most relevant and receive a higher response.</p>
        </div>
        <div class="large-4 columns"></div>
    </div>
</div>

<div class="adm-banner4 adm-banner thebanner">
    <div class="row textalignright">
        <div class="large-6 columns"></div>
        <div class="large-6 columns bigh1">
            <h1>Open API Integration</h1>
            <p>
                Integration with your CRM, customer databases or marketing automation platform is easy with our open API.  When a
                trigger is activated, your customer’s information is sent to our API and a personalized postcard is created.  Your cards are printed and mailed the next business day. No Minimum.
            </p>
        </div>
    </div>
</div>
