
@{
    ViewBag.Title = "GraphicDesign";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="graphicdesignmain-bg nopaddingtop thebanner">
    <div class="mainbanner-content row">
        <div class="large-12 columns bigh1">
            <h1 class="aligncenter">Three Levels of Service to Meet Your Needs</h1>
            <p class="aligncenter">Upload your own design, use one of our free starter templates or let us design for you.</p>
            <img class="aligncenter" src="~/img/graphicdesignmain.png">
        </div>
    </div>
</div>

<div class="gdesign2bg adm-banner nopaddingtop2 thebanner">
    <div class="row">
        <div class="large-5 columns bigh1">
            <h1>Upload Your Own Design</h1>
            <p>Eye-catching graphics play a major role in the success of your campaign. If you already have a design, it’s simple to upload, print and mail. It only takes a few minutes to have your mail pieces ready to go. We will print and mail your cards the next business day.</p>
        </div>
        <div class="large-6 columns"></div>
    </div>
</div>

<div class="grayonly adm-banner nopaddingtop4 thebanner">
    <div class="row">
        <div class="large-7 columns bigh1">
            <img src="~/img/gdesign2a.png">
        </div>
        <div class="large-5 alignright columns">
            <h1>Use One of Our Starter Templates</h1>
            <p>Our free starter templates allow you to leverage our graphic designers and quickly design beautiful postcards. It’s easy to upload your own photo and messaging. Save time and money by using our intuitive starter templates to design your next mailer.</p>
        </div>
    </div>
</div>

<div class="gdesign3bg adm-banner thebanner">
    <div class="row">
        <div class="large-6 columns bigh1">
            <h1>Let Us Design Your Postcard</h1>
            <p>Need an original design? Let us help you achieve the results you want. Our graphic designers can do everything from image touch-up to complete card designs. Amazingmail has everything you need from concept to execution.</p>
        </div>
        <div class="large-6 columns"></div>
    </div>
</div>
