
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="businesssolutions-container">
    <div class="businesssolutions-bg thebanner whitecontent">
        <div class="mainbanner-content row">
            <div class="large-7 columns">
                <img src="~/img/card2.png">
            </div>
            <div class="large-5 columns">
                <h1>
                    Personalized. Professional.<br>
                    Perfectly Executed. <br>
                </h1>
                <p>
                    Amazingmail has the tools to help you generate more results, connect with more customers and attract more prospects with your direct mail campaigns.
                </p>
            </div>
        </div>
    </div>
</div>
    <div class="">
        <div class="row">
            <h1 class="aligncenter paddingtop paddingbottom headingcenter">As a leading direct mail solutions provider we can meet your business needs regardless of size or budget.</h1>
        </div>
        <div class="row paddingbottom listofsolutions bsol">
            <div class="large-3 columns">
                <a href="~/BusinessSolutions/WhiteLabelFullFillmentSolutions" class="bsol1 paddingbottom bsol_uniform"></a>
                <h5>White Label Fulfillment Solutions</h5>
                <p>Flawless execution from one card to a million</p>
            </div>
            <div class="large-3 columns">
                <a href="~/BusinessSolutions/AutomatedDirectMail" class="sol1 paddingbottom bsol_uniform"></a>
                <h5>Automated Direct Mail</h5>
                <p>Send triggered, personalized direct mail as easy as email</p>
            </div>
            <div class="large-3 columns">
                <a href="~/BusinessSolutions/PrintOnDemandWebPortals" class="sol3 paddingbottom bsol_uniform"></a>
                <h5>Print on Demand Web Portals</h5>
                <p>Create, print and mail from your own branded web portal</p>
            </div>
            <div class="large-3 columns">
                <a href="~/BusinessSolutions/ResponseTracking" class="sol4 paddingbottom bsol_uniform"></a>
                <h5>Response Tracking</h5>
                <p>
                    Easily track the progress of your direct mail campaign
                </p>
            </div>
            <div class="large-3 columns">
                <a href="~/BusinessSolutions/VariableData" class="bsol2 paddingbottom bsol_uniform"></a>
                <h5>Variable Data</h5>
                <p>Use our online tool to personalize messaging and images</p>
            </div>
            <div class="large-3 columns">
                <a href="~/BusinessSolutions/TargetedMailingList" class="bsol3 paddingbottom bsol_uniform"></a>
                <h5>Targeted Mailing Lists</h5>
                <p>Find your ideal audience with a targeted direct mail marketing list </p>
            </div>
            <div class="large-3 columns">
                <a href="~/BusinessSolutions/GraphicDesign" class="bsol4 paddingbottom bsol_uniform"></a>
                <h5>Graphic Design</h5>
                <p>Upload your own design, choose a starter template, or work with one of our designers</p>
            </div>
            <div class="large-3 columns">
                <a href="~/BusinessSolutions/TradeShowCollateral" class="bsol5 paddingbottom bsol_uniform"></a>
                <h5>Tradeshow Collateral</h5>
                <p>Drive more traffic to your tradeshow booth in a hurry</p>
            </div>
        </div>
    </div>

