
@{
    ViewBag.Title = "PrintOnDemandWebPortals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="webportals-bg thebanner">
    <div class="mainbanner-content row">
        <div class="large-6 columns bigh1">
            <h1>Drive Scalability<br> While Maintaining<br> Brand Standards</h1>
            <p>
                Unleash the power of your sales team while maintaining brand standards. Eliminate the time you spend proofing and approving mail pieces with a print on demand portal.  Your sales force will have autonomy to follow up on leads and send print jobs directly. Give any department access to send personalized, real cards to build deeper connections with customers and prospects.
            </p>
        </div>
    </div>
</div>


<div class="webportal-banner2 adm-banner thebanner">
    <div class="row textalignright">
        <div class="large-6 columns"></div>
        <div class="large-6 columns bigh1">
            <h1>Easily Print and Mail Companywide</h1>
            <p>Whether your company has a single office or locations throughout the country, any department can send cards from anywhere. Our print-on-demand portals seamlessly integrate with your intranet, adhere to your branding and give you the control you need.</p>
        </div>
    </div>
</div>

<div class="webportal-banner3 adm-banner thebanner">
    <div class="row">
        <div class="large-7 columns bigh1">
            <h1>Efficient and Effective Direct Mail </h1>
            <p>Our “no hassle” print on demand portal technology makes direct mail highly efficient. The quality of our cards makes them effective tools to build your business and maintain close relationships. Send one card or many; all will be printed and mailed the next business day.</p>
        </div>
        <div class="large-4 columns"></div>
    </div>
</div>


