
@{
    ViewBag.Title = "ResponseTracking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="responsetrackingmain adm-banner nopaddingtop2 thebanner">
    <div class="mainbanner-content row">
        <div class="large-5 columns bigh1">
            <h1>Track Response Rates and ROI</h1>
            <p>Our powerful response tracking technology lets you measure the impact of your direct mail so you can immediately respond to market changes. Quickly evaluate the return on your investment with accurate, easy-to-access analytics and achieve greater success with your campaigns.</p>
        </div>
    </div>
</div>


<div class="response-tracking2 adm-banner nopaddingtop2 thebanner">
    <div class="row textalignright">
        <div class="large-7 columns"></div>
        <div class="large-5 columns bigh1">
            <h1>Drive Digital Engagement with Variable QR Codes</h1>
            <p>Adding a variable QR code to your cards lets you drive smart phone and tablet users to a mobile-friendly webpage, import information to a list of contacts or automatically dial a telephone number.</p>
        </div>
    </div>
</div>

<div class="response-tracking3 adm-banner nopaddingtop3 thebanner">
    <div class="row">
        <div class="large-6 columns bigh1">
            <h1>Real Time Tracking with Personalized URLs</h1>
            <p>
                Personalized URLs are website pages dynamically created for each person you send a card to. This technology lets you discover more information about prospects and customers to fine tune your marketing campaign. Our experts can even help you extend a
                special offer using personalized URLs.
            </p>
        </div>
        <div class="large-6 columns"></div>
    </div>
</div>

<div class="response-tracking4 adm-banner nopaddingtop3 thebanner">
    <div class="row textalignright">
        <div class="large-6 columns"></div>
        <div class="large-6 columns bigh1">
            <h1>Dedicated 1-800 Telephone Numbers with Tracking</h1>
            <p>Revolutionize your inbound marketing efforts with 1-800 numbers that let you immediately track results. This technology also lets you receive email reports that indicate call duration to better understand the quality of your mailing lists.</p>
        </div>
    </div>
</div>

<div class="response-tracking5 adm-banner nopaddingtop2 thebanner">
    <div class="row">
        <div class="large-5 columns bigh1">
            <h1>Trusted Business Reply Mail</h1>
            <p>Business reply cards are a tried and true way of getting prospect and customer responses. Amazingmail offers two types of business reply mail. You can pay the return postage for every response or let people pay their own postage.</p>
        </div>
        <div class="large-7 columns"></div>
    </div>
</div>
