
@{
    ViewBag.Title = "TargetedMailingList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="targetedmail-mainbg">
    <div class="mainbanner-content row">
        <div class="large-6 columns">
            <div class="spacing-160"></div>
            <h1>Clone Your <br>Best Customers</h1>
            <p>
                A targeted mailing list is the most efficient way to get the attention of your ideal audience. We work with the nation’s leading list compilers to help you reach the
                prospects most likely to buy your product or service.
            </p>
        </div>
    </div>
</div>


<div class="findmarketplace">
    <div class="row textalignright">
        <div class="large-6 columns"></div>
        <div class="large-6 columns bigh1 whitecontent">
            <div class="spacing-160"></div>
            <h1>Find the Marketplace<br>You Want To Be In </h1>
            <p>Targeted mailings can be more personalized and cost effective than saturation campaigns. We can help you select the right criteria, automatically process your list purchase your list and import directly into your account. We will print and mail your cards the next business day.</p>
        </div>
    </div>
</div>
