
@{
    ViewBag.Title = "TradeShowCollateral";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tradeshow-bg">
    <div class="mainbanner-content row">
        <div class="large-12 columns bigh1">
            <div class="spacing-40"></div>
            <h1 class="aligncenter paddingtop2">Drive More Traffic With Pre-Show Mailers</h1>
            <p class="aligncenter">Generate excitement and drive more traffic to your next trade show with pre-show mailers. One of the best ways to get noticed at a trade show is to let people know you’re going to be there. Use a special offer or scratch-off raffle to encourage more visitors to your top by your booth.</p>
            <img src="~/img/tradeshowmainimg.png">
        </div>
    </div>
</div>

<div class="spacing-100"></div>
<div class="tradeshowimg2 adm-banner nopaddingtop thebanner">
    <div class="row textalignright">
        <div class="large-7 columns">
            <img src="~/img/wedoserious.png">
        </div>
        <div class="large-5 columns bigh1">
            <h1>Stand Out During Trade Shows</h1>
            <p>People judge the quality of your products and services by the materials they receive. Leave a lasting impression with high-quality handouts. Amazingmail products are durable and will look as great when your attendees get home as when they received them at your booth.</p>
        </div>
    </div>
</div>


<div class="tradeshowimg3">
    <div class="row">
        <div class="large-6 columns bigh1">
            <h1>Convert More Leads after the Trade Show</h1>
            <p>
                More than 80% of trade show leads never receive follow-up but converting leads is the name of the game. Leverage the power of Amazingmail’s Automated Direct Mail to follow-up with drip campaigns from your CRM or marketing automation platform with real,
                personalized cards.
            </p>
        </div>
        <div class="large-6 columns"></div>
    </div>
</div>

<div class="spacing-50"></div>
<div class="tradeshow-bg4 nopaddingtop3" style="background-size:cover;">
    <div class="mainbanner-content row">
        <div class="large-12 columns bigh1">
            <h1 class="aligncenter">Running behind? No problem!</h1>
            <p class="aligncenter">Trust Amazingmail to come through when you need last-minute trade show materials. We print and mail everything you need the next business day.</p>
            <center><img src="~/img/within24hours.png"></center>
        </div>
    </div>
</div>


