
@{
    ViewBag.Title = "VariableData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="variabledata-mainbg" style="background-size:cover; background-repeat:no-repeat; height:800px;">
    <div class="mainbanner-content row">
        <div class="large-6 columns">
            <div class="spacing-200"></div>
            <h1 class="paddingtop2">Relevant and Meaningful Variable Data</h1>
            <p>Variable data makes your direct mail marketing more relevant by allowing you to personalize any aspect of your mail pieces. Our technology lets you easily personalize cards to make engagement with customers or prospects more meaningful and effective. </p>
        </div>
    </div>
</div>


<div class="variabledata-mainbg2">
    <div class="row textalignright">
        <div class="large-6 columns"></div>
        <div class="large-6 columns bigh1">
            <div class="spacing-120"></div>
            <h1>Deeper Connections to Drive Real Results </h1>
            <p>Your recipients will feel a greater sense of connection when they receive relevant, targeted and personalized mail. With Amazingmail, you can easily send  unique service reminders, birthday cards, thank you cards, congratulations and more.</p>
        </div>
    </div>
</div>

<div class="variabledata-mainbg3 paddingtop2">
    <div class="row">
        <div class="large-6 columns bigh1">
            <h1>Grab Attention with<br>Personalized Images</h1>
            <p>Virtually any image can be personalized to get more attention and fuel better response rates. Create a direct mail campaign your recipients will value, appreciate and connect with. Amazingmail lets you create mailers with a level of sophistication you won’t get anywhere else. Our technology makes it easy. We print and mail the next business day.</p>
            <p>
                <a href="#" class="withpdf">Download Samples</a>
            </p>
        </div>
        <div class="large-6 columns"><img style="height:500px;" src="~/img/variabledata-img3.png"></div>
    </div>
</div>

