
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="whitelabelmain-bg thebanner">
    <div class="mainbanner-content row">
        <div class="large-6 columns bigh1">
            <h1>Focus on Your<br>Core Business</h1>
            <p>
                Our white label solutions set your business free to focus on what matters most. We take on the overhead and logistics of in-house direct mail marketing. We have the experience, knowledge and high quality products to handle your needs. That’s why we are trusted by Fortune 500 companies, large nonprofits and major universities.
            </p>
        </div>
    </div>
</div>    


<div class="whitelabel-banner1 adm-banner thebanner">
    <div class="row textalignright">
        <div class="large-5 columns"></div>
        <div class="large-7 columns bigh1">
            <h1>Results You Can Count On</h1>
            <p>We’ve printed and mailed more than 150 million cards on behalf of our customers. Our dedication to providing the best service in the industry has earned us an A+ rating with the Better Business Bureau.  With our LEAN Six Sigma culture of operational excellence, few white label providers can provide the confidence that comes with knowing your cards will go out when you need them to.</p>
            <p><img src="~/img/accreditedbusiness-icon.png"></p>
        </div>
    </div>
</div>

<div class="whitelabel-banner2 adm-banner thebanner">
    <div class="row">
        <div class="large-7 columns bigh1">
            <h1>Reliable Performance Powered by Technology, Credibility</h1>
            <p>With world-class, cloud technology and redundant HP Indigo digital presses, we deliver 99.999% reliability.  In addition, each customer receives a dedicated project manager to make sure each campaign meets their branding and quality standards. This is why leading data firms and mobile application developers use Amazingmail as their fulfillment partner.</p>
        </div>
        <div class="large-4 columns"></div>
    </div>
</div>

<div class="whitelabel-banner3 adm-banner thebanner">
    <div class="row textalignright">
        <div class="large-7 columns"></div>
        <div class="large-5 columns bigh1 whitecontent">
            <h1>Our Expertise Saves You Money</h1>
            <p>
                We have been in the print and mail business for more than 16 years and stay on top of all the latest USPS rules,
                regulations and requirements.  As a result, every Amazingmail customer benefits from postage discounts. We’ll make sure your cards are printed and mailed the next business day – U.S. and international.
            </p>
        </div>
    </div>
</div>
