
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="productimg-bg nopaddingtop5 thebanner">
        <div class="mainbanner-content row">
            <div class="large-12 bigh1">
                <h1 class="aligncenter">Products</h1>
                <p class="aligncenter">
                    Amazingmail offers a wide variety of high quality print and mail products that can be personalized and tailored to meet your needs.
                </p>
                <img class="aligncenter" src="~/img/productimg.png">
            </div>
        </div>
    </div>

    <div class="adm-banner nopaddingtop3 thebanner abouthistory">
        <div class="row">
            <div class="large-6 columns left paddingtop">
                <p>At Amazingmail, we use the latest digital press technologies when printing every product. We keep all of our production in-house so you can always count on the fastest turnaround time in the business.</p>
            </div>
            <div class="large-6 columns bigh1 left">
                <img src="~/img/productimg2.jpg">
            </div>
        </div>
    </div>

    <div class="nopaddingtop3 thebanner woodbg">
        <div class="row">
            <div class="large-7 columns bigh1 left">
                <img src="~/img/product3.png">
            </div>
            <div class="large-5 columns left paddingtop alignright paddingtop2">
                <p>A card’s condition when received makes a statement about your products and services. This is why our unique Postal Protect™ process is so important. Postal Protect™ ensures your customers; prospects or donors will receive the most pristine cards possible.</p>
            </div>
        </div>
    </div>

    <div class="productimg-bg2 nopaddingtop3 thebanner">
        <div class="mainbanner-content row">
            <div class="large-12 columns whitecontent">
                <p class="aligncenter">
                    Have a last minute order? Don’t worry. We print and mail the next business day, whether you’re sending one card or thousands. Our starter templates make it easy to import your own text and images. Come up with a beautiful, creative design in minutes and we’ll take care of the rest.
                </p>
                <center>
                    <img src="~/img/productimg4.png">
                </center>
            </div>
        </div>
    </div>

    <div class="productlistivew paddingtop paddingbottom">
        <div class="row">
            <ul>
                <li>
                    <div class="tops"><a href="/Products/PostCards"><img src="~/img/prodimg-list1.png"></a></div>
                    <div class="bottom"><span>Post Cards</span></div>
                </li>
                <li>
                    <div class="tops"><a href="#"><img src="~/img/prodimg-list2.png"></a></div>
                    <div class="bottom"><span>xxFlat Cardsxx</span></div>
                </li>
                <li>
                    <div class="tops"><a href="/Products/FoldedCards"><img src="~/img/prodimg-list3.png"></a></div>
                    <div class="bottom"><span>Folded Cards</span></div>
                </li>
                <li>
                    <div class="tops"><a href="/Products/CardsInEnvelopes"><img src="~/img/prodimg-list4.png"></a></div>
                    <div class="bottom"><span>Cards in Envelopes</span></div>
                </li>
                <li>
                    <div class="tops"><a href="/Products/Brochures"><img src="~/img/prodimg-list5.png"></a></div>
                    <div class="bottom"><span>Brochures</span></div>
                </li>
                <li>
                    <div class="tops"><a href="/Products/Letters"><img src="~/img/prodimg-list6.png"></a></div>
                    <div class="bottom"><span>Letters</span></div>
                </li>
                <li>
                    <div class="tops"><a href="/Products/Flyers"><img src="~/img/prodimg-list7.png"></a></div>
                    <div class="bottom"><span>Flyers</span></div>
                </li>
                <li>
                    <div class="tops"><a href="/Products/BusinessCards"><img src="~/img/prodimg-list8.png"></a></div>
                    <div class="bottom"><span>Business Cards</span></div>
                </li>
                <li>
                    <div class="tops"><a href="/Products/PopOutAndPerforated"><img src="~/img/prodimg-list9.png"></a></div>
                    <div class="bottom"><span>Pop Out and Perforated</span></div>
                </li>
                <li>
                    <div class="tops"><a href="/Products/ScratchOff"><img src="~/img/prodimg-list10.png"></a></div>
                    <div class="bottom"><span>Scratch Off</span></div>
                </li>
                <li>
                    <div class="tops"><a href="/Products/Magnets"><img src="~/img/prodimg-list11.png"></a></div>
                    <div class="bottom"><span>Magnets</span></div>
                </li>
            </ul>
        </div>
    </div>



    @*<div class="testimonials">
        <div class="row">
            <h1 class="aligncenter paddingtop">Success Stories</h1>
            <div class="autoplay">
                <div>
                    <p>“To increase response rates, Amazingmail recommended using the image personalization feature to enhance their cards. About 4 weeks after the mailing of 1217 cards went out, the company claimed they received more calls with this card than any other mailing they had ever done.”</p>
                    <span>Keystone Healthcare</span>
                    <img src="img/testlogo.png">
                </div>
                <div>Lorem ispum dolor emit.</div>
                <div>your content</div>
            </div>
        </div>
    </div>

    <footer>
        <div class="blueportion">
            <div class="row">
                <h2>Ready to start seeing results?</h2>
                <h3 class="light">Give us a call at <span class="orange">888-681-1214</span> and one of our direct mail experts can get you started.</h3>
            </div>
        </div>
        <div class="firstline">
            <div class="row">
                <div class="large-6 columns asseenon">
                    <span>As Seen On</span>
                    <img src="img/asseenon.png">
                </div>
                <div class="large-6 columns newsletter">
                    <span>Enter your email address to receive special offers</span>
                    <div class="bginputtype">
                        <form action="#" method="post">
                            <input type="text" class="inputtext" placeholder="Your Email...">
                            <input type="submit" value="Submit" class="submitbutton">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="secondline">
            <div class="row">
                <div class="large-9 columns">
                    <ul class="firstlinks">
                        <li><a href="#">Business Solutions</a></li>
                        <li><a href="#" class="has-dropdown not-click">Products</a></li>
                        <li><a href="#">Templates</a></li>  
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Resources</a></li>
                    </ul>
                    <ul class="secondlinks">
                        <li><a href="#">User Agreement</a></li>
                        <li><a href="#">Copyright Policy</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li>© 2015 Amazingmail.com®, Inc. All rights reserved . U.S. Patent No. 6,732,152</li>
                    </ul>
                </div>
                <div class="large-3 columns snsfooter">
                    <span>Connect With Us:</span>
                    <ul class="sns">
                        <li><a href="#" class="facebook">Facebook</a></li>
                        <li><a href="#" class="linkedin">Linkedin</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="js/vendor/jquery.js" type="text/javascript"></script>
    <script src="js/slick.js" type="text/javascript"></script>
    <script src="js/foundation.min.js" type="text/javascript"></script>
    <script type="text/javascript">
	$(document).foundation();
    </script>
    <script type="text/javascript">
$('.autoplay').slick({
  slidesToShow: 1,
  slidesToScroll: 1,
  autoplay: true,
  arrows: false,
  dots: true,
  autoplaySpeed: 2000,
});
    </script>
    <script type="text/javascript">


$( ".listofbusiness .picall" ).hover(
  function() {
    $( this ).addClass( "hover" );
	$(this).find(".heading").hide();
  }, function() {
    $(this).find(".heading").show();
  }
);
    </script>
    <script type="text/javascript">
	 var ie = (function(){

		var undef,
			v = 3,
			div = document.createElement('div'),
			all = div.getElementsByTagName('i');

		while (
			div.innerHTML = '<!--[if gt IE ' + (++v) + ']><i></i><![endif]-->',
			all[0]
		);

		return v > 4 ? v : undef;

	}());

	if(ie < 9) {
		alert("Please update your Internet Explorer to version 9 or later.");
		window.location.href = "http://windows.microsoft.com/en-us/internet-explorer/download-ie";
	}
    </script>*@
