
@{
    ViewBag.Title = "PopOutAndPerforated";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="popoutmain-bg nopaddingtop5 thebanner">
    <div class="mainbanner-content row">
        <div class="large-12 columns bigh1">
            <h1 class="aligncenter">Pop-outs And Perforations</h1>
            <p class="aligncenter">
                Increase engagement with a dual use mail piece.  You can mail a postcard with a pop-out, wallet ready business card, or maybe you want to include a pop-out special offer like a coupon or gift card. Encourage interaction with your mail piece when you use a perforated piece to include a tear-off coupon or mail-in entry form. If you’re interested in adding a pop-out or perforations to your mailer give us a call at 888-681-1214.
            </p>
            <img class="aligncenter" src="~/img/popoutsmain.png">
        </div>
    </div>
</div>

<div class="flatgray tabstemplate adm-banner nopaddingtop0 thebanner">
    <div class="mainbanner-content">
        <div class="large-12">
            <div id="tabs">
                <div class="bluebg">
                    <ul>
                        <li><a href="#tabs-1">Overview</a></li>
                        <li><a href="#tabs-2">Pricing</a></li>
                    </ul>
                </div>
                <div id="tabs-1">
                    <div class="large-12 row">
                        <div class="large-6 columns nopaddingtop2">
                            <img src="~/img/popoutimg2.png">
                        </div>
                        <div class="large-6 columns nopaddingtop3 bigh1">
                            <h1>Common Uses<br> For Pop-outs And <br>Perforations</h1>
                            <ul class="orangeicon">
                                <li class="orange1">Direct mail with pop-out business card or offer</li>
                                <li class="orange2">Easy tear-off coupons, offers or entry forms</li>
                                <li class="orange3">Tear-off Business Replay Mailer</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- START PRICING TAB PANE CONTENT HERE -->
                <div class="tabs_woodbg" id="tabs-2">
                    <div class="large-12 row">
                        <div class="pricingmain_container">
                            <div class="topadding">
                                <h6 class="bluecolor"><center>OUR PRICES INCLUDE</center></h6>
                                <div class="large-6 column listpricing">
                                    <ul>
                                        <li>Next business day print and mail</li>
                                        <li>No minimum order</li>
                                        <li>110lb - 12pt paper stock</li>
                                        <li>Full color digital printing (all sides)</li>
                                        <li>Gloss or matte coating (all sides)</li>
                                    </ul>
                                </div>
                                <div class="large-6 column listpricing2">
                                    <ul>
                                        <li>Variable data (Ex - Dear ^first^)</li>
                                        <li>Unlimited use of stock card designs</li>
                                        <li>Unlimited use of stock images</li>
                                        <li>Cards mailed direct to recipients</li>
                                        <li>Dedicated client support</li>
                                    </ul>
                                </div>
                                <center>
                                    <p class="orangetxt_withiconright">Purchase card credits in bulk and lock in savings for 2 years!</p>
                                </center>
                            </div>
                            <hr>
                            <div class="topadding">
                                <h6 class="bluecolor"><center>SIZES</center></h6>
                                <div class="tabspricing-parent" id="tabs2">
                                    <ul class="parentul">
                                        <li><a href="#parenttabs-1">4.25 x 6</a></li>
                                        <li><a href="#parenttabs-2">5.5 x 8.5</a></li>
                                        <li><a href="#parenttabs-3">5.5 x 11.5</a></li>
                                        <li><a href="#parenttabs-4">3.5 x 8.5</a></li>
                                    </ul>
                                    <div id="parenttabs-1">
                                        <h6 class="bluecolor"><center>POSTAGE OPTIONS</center></h6>
                                        <div class="tabspricing-parent child" id="tabs2a">
                                            <ul class="childul">
                                                <li><a href="#childtabs-1">1st class</a></li>
                                                <li><a href="#childtabs-2">standard</a></li>
                                                <li><a href="#childtabs-3">international</a></li>
                                                <li><a href="#childtabs-4">non-profit</a></li>
                                                <li><a href="#childtabs-5">printing only</a></li>
                                            </ul>
                                            <div id="childtabs-1">
                                                <div class="topadding">
                                                    <p>Click Non-Profit Tab To See Content</p>
                                                </div>
                                            </div>
                                            <div id="childtabs-2">
                                                <div class="topadding">
                                                    <p>Lorem ipsum dolor.</p>
                                                </div>
                                            </div>
                                            <div id="childtabs-3">
                                                <div class="topadding">
                                                    <p>Sit amit.</p>
                                                </div>
                                            </div>
                                            <div id="childtabs-4">
                                                <center>
                                                    <p>
                                                        Requires USPS Non-Profit Permit<br>
                                                        200 peice minimum per mailing
                                                    </p>
                                                </center>
                                                <table class="responsivetbl" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <th>quantity</th>
                                                        <th>printing</th>
                                                        <th>postage</th>
                                                        <th>price</th>
                                                    </tr>

                                                    <tr>
                                                        <td>50,000 plus</td>
                                                        <td>$0.27</td>
                                                        <td>$0.30</td>
                                                        <td>$0.57</td>
                                                    </tr>
                                                    <tr>
                                                        <td>40,000 to 49,999</td>
                                                        <td>$0.30</td>
                                                        <td>$0.30</td>
                                                        <td>$0.60</td>
                                                    </tr>
                                                    <tr>
                                                        <td>30,000 to 39,999</td>
                                                        <td>$0.33</td>
                                                        <td>$0.30</td>
                                                        <td>$0.63</td>
                                                    </tr>
                                                    <tr>
                                                        <td>20,000 to 29,999</td>
                                                        <td>$0.36</td>
                                                        <td>$0.30</td>
                                                        <td>$0.66</td>
                                                    </tr>
                                                    <tr>
                                                        <td>10,000 to 19,999</td>
                                                        <td>$0.40</td>
                                                        <td>$0.30</td>
                                                        <td>$0.70</td>
                                                    </tr>
                                                    <tr>
                                                        <td>5,000 to 9,999</td>
                                                        <td>$0.44</td>
                                                        <td>$0.30</td>
                                                        <td>$0.74</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2,500 to 4,999</td>
                                                        <td>$0.48</td>
                                                        <td>$0.30</td>
                                                        <td>$0.78</td>
                                                    </tr>
                                                    <tr>
                                                        <td>1,000 to 2,499</td>
                                                        <td>$0.53</td>
                                                        <td>$0.30</td>
                                                        <td>$0.83</td>
                                                    </tr>
                                                    <tr>
                                                        <td>500 to 999</td>
                                                        <td>$0.58</td>
                                                        <td>$0.30</td>
                                                        <td>$0.88</td>
                                                    </tr>
                                                    <tr>
                                                        <td>250 to 499</td>
                                                        <td>$0.63</td>
                                                        <td>$0.30</td>
                                                        <td>$0.93</td>
                                                    </tr>
                                                    <tr>
                                                        <td>100 to 249</td>
                                                        <td>$0.69</td>
                                                        <td>$0.30</td>
                                                        <td>$0.99</td>
                                                    </tr>
                                                    <tr>
                                                        <td>50 to 99</td>
                                                        <td>$0.76</td>
                                                        <td>$0.30</td>
                                                        <td>$1.06</td>
                                                    </tr>
                                                    <tr>
                                                        <td>25 to 49</td>
                                                        <td>$0.84</td>
                                                        <td>$0.30</td>
                                                        <td>$1.14</td>
                                                    </tr>
                                                    <tr>
                                                        <td>10 to 24</td>
                                                        <td>$0.93</td>
                                                        <td>$0.30</td>
                                                        <td>$1.23</td>
                                                    </tr>
                                                    <tr>
                                                        <td>1 to 9</td>
                                                        <td>$1.03</td>
                                                        <td>$0.30</td>
                                                        <td>$1.33</td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div id="childtabs-5">
                                                <div class="topadding">
                                                    <p>There's nothing in here.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="parenttabs-2">
                                        <p>Lorem ipsum dolor sit amit.</p>
                                    </div>
                                    <div id="parenttabs-3">
                                        <p>Consectetur amit dolor.</p>
                                    </div>
                                    <div id="parenttabs-4">
                                        <p>There's nothing in here.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="whitebg adm-banner nopaddingtop3 thebanner">
    <div class="row">
        <div class="large-6 columns bigh1">
            <h1>Small Feature - <br> Big Impact</h1>
            <p>You’re far more likely to improve your direct mail response rates by encouraging people to interact with pop out and perforated mail. Encourage interaction with your mail piece when you use a perforated piece to include a tear-off coupon or mail-in entry form.</p>
        </div>
        <div class="large-6 columns">
            <img src="~/img/popoutimg3.png">
        </div>
    </div>
</div>
<script>
	$(function() {
		$( "#accordion" ).accordion({
			collapsible: true
		});
	});
	$(function() {
    	$( "#tabs" ).tabs();
  	});
	$(function() {
    	$( "#tabs2" ).tabs();
  	});
	$(function() {
    	$( ".tabspricing-parent" ).tabs();
	});

	$(".listofbusiness .picall").hover(
      function () {
          $(this).addClass("hover");
          $(this).find(".heading").hide();
      }, function () {
          $(this).find(".heading").show();
      }
    );
</script>




