
@{
    ViewBag.Title = "PostCards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="postcardmain-bg nopaddingtop5 thebanner">
    <div class="mainbanner-content row">
        <div class="large-12 columns bigh1">
            <h1 class="aligncenter">Postcards</h1>
            <p class="aligncenter">Using flat cards is one of the most effective ways to market your business.  Amazingmail prints all cards on 110-pound, 12-point card stock. You’ll get full-color printing on both sides with your choice of gloss or matte Postal Protect™ laminate coating to ensure your cards arrive in pristine condition.  Add personalization and additional enhancements to make your card stand out from the crowd.  Use one of our starter templates, upload your own design or have one of our designers help you with you create the perfect card.  We print and mail your cards the next day – no minimum</p>
            <center><img class="aligncenter" src="~/img/postcard-mainimg.png"></center>
        </div>
    </div>
</div>

<div class="postcardbg2 tabstemplate adm-banner nopaddingtop0 thebanner">
    <div class="mainbanner-content">
        <div class="large-12">
            <div id="tabs">
                <div class="bluebg">
                    <ul>
                        <li><a href="#tabs-1">Overview</a></li>
                        <li><a href="#tabs-2">Pricing</a></li>
                    </ul>
                </div>
                <div id="tabs-1">
                    <div class="large-12 row">
                        <div class="large-6 columns"></div>
                        <div class="large-6 columns nopaddingtop3 bigh1">
                            <h1>Common Uses<br> For Postcards</h1>
                            <ul class="orangeicon">
                                <li class="orange1">Effective direct mail campaigns</li>
                                <li class="orange2">Highlight special offers or events</li>
                                <li class="orange3">Drive traffic to website</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="postcard3 adm-banner nopaddingtop2 thebanner">
    <div class="row">
        <div class="large-6 columns bigh1">
            <h1>Postcards Make An<br>Immediate Impact </h1>
            <p>There is no need to gamble with other options when you have the proven and reliable power of postcard marketing at your fingertips. A well-designed postcard grabs attention and entices people to respond. Adding a personalized image or messaging will fuel even more responses. Give people plenty of ways to respond with a personalized URL, QR code or 1-800 number!</p>
        </div>
        <div class="large-6 columns"></div>
    </div>
</div>


<div class="nopaddingtop3 thebanner woodbg-dark brochure4">
    <div class="row">
        <div class="large-7 columns alignright">
            <img src="~/img/postcardsize.png">
        </div>
        <div class="large-5 columns">
            <h1>A Variety Of <br>Sizes</h1>
            <ul>
                <li>4.25”x6” Flat</li>
                <li>5.5”x8.5” Flat*</li>
                <li>5.5”x11.5” Flat</li>
                <li>3.5”x8.5” Flat*</li>
            </ul>
            <span class="smallblue">*Product available with FREE envelope</span>
        </div>
    </div>
</div>

<div class="bcard-bg4 brochure nopaddingtop3 thebanner">
    <div class="mainbanner-content row">
        <div class="row">
            <div class="large-7 columns whitecontent bigh1 aligncenter">
                <h1 class="aligncenter">Multiple Postage Options Available</h1>
            </div>
            <div class="large-5 columns whitecontent">
                <ul>
                    <li class="one">1st Class Postage</li>
                    <li class="two">Standard Postage</li>
                    <li class="three">International Postage</li>
                    <li class="four">Non-Profit Postage</li>
                    <li class="five">Boxed and Shipped</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="nopaddingtop3 thebanner gradientgray">
    <div class="row">
        <div class="large-8 columns">
            <img src="~/img/brochureimg5.png">
        </div>
        <div class="large-4 columns nopaddingtop3">
            <h1>Make Each<br>One Unique </h1>
            <ul>
                <li class="one">Image Personalization</li>
                <li class="two">Variable Data</li>
            </ul>
        </div>
    </div>
</div>

<div class="brochurebg-3 nopaddingtop3 thebanner">
    <div class="mainbanner-content row">
        <div class="large-12 columns bigh1">
            <h1 class="aligncenter">Enhancements Increase Engagement</h1>
            <ul>
                <li class="one">Magnets</li>
                <li class="two">Scratch Offs</li>
                <li class="three">Pop Out and Perforated</li>
            </ul>
            <img class="aligncenter" src="~/img/brochureimg6.png">
        </div>
    </div>
</div>



<div class="threecols-cards threecol_paddingbottom fourcolumns_card">
    <div class="row">
        <div class="large-3 columns">
            <div class="small-4">
                <img src="~/img/bigpdficon4.png">
            </div>
            <div class="small-8 columns">
                <span>
                    <h2>Select A Predesigned Starter Template</h2>
                    <a class="arrowright" href="#">Click Here</a>
                </span>
            </div>
        </div>
        <div class="large-3 columns">
            <div class="small-4">
                <img src="~/img/bigpdficon.png">
            </div>
            <div class="small-8 columns">
                <span>
                    <br>
                    <h2>Download A Design Template</h2>
                    <a class="arrowright" href="#">Click Here</a>
                </span>
            </div>
        </div>
        <div class="large-3 columns">
            <div class="small-4">
                <img src="~/img/bigpdficon2.png">
            </div>
            <div class="small-8 columns">
                <span>
                    <br>
                    <h2>Upload Your Own Design</h2>
                    <a class="arrowright" href="#">Click Here</a>
                </span>
            </div>
        </div>
        <div class="large-3 columns">
            <div class="small-4">
                <img src="~/img/bigpdficon3.png">
            </div>
            <div class="small-8 columns">
                <span>
                    <br>
                    <h2>Design Your Own</h2>
                    <a class="arrowright" href="#">Click Here</a>
                </span>
            </div>
        </div>
    </div>
</div>

<script>
	$(function() {
		$( "#accordion" ).accordion({
			collapsible: true
		});
	});
	$(function() {
    	$( "#tabs" ).tabs();
	});

	$(".listofbusiness .picall").hover(
      function () {
          $(this).addClass("hover");
          $(this).find(".heading").hide();
      }, function () {
          $(this).find(".heading").show();
      }
    );
</script>