
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="aboutus-container">
    <div id="aboutus" class="thebanner">
        <div class="mainbanner-content row">
            <div class="large-6 columns">

                <h1>Personalized Cards, Printed and Mailed Next Business Day No Minimum</h1>
                <div class="spacing-60"></div>
                <span>Quick Facts:</span>
                <ul>
                    <li>Large capacity, digital print/mail provider</li>
                    <li>Specializes in high quality, personalized cards, printed and mailed next business day - no minimum.</li>
                    <li>Serves businesses and consumers of all sizes.</li>
                    <li>Offers unique white label solutions through our Automated Print-Mail API and Online web portals.</li>
                    <li>Founded in 1999</li>
                    <li>USPS affiliate partner since 2002.</li>
                    <li>Provides world class customer service</li>
                    <li>Privately owned and headquartered in Phoenix, AZ</li>
                </ul>
            </div>
        </div>
    </div>
</div>   


<div class="spacing-20"></div>
<div class="adm-banner nopaddingtop3 thebanner abouthistory">
    <div class="row">
        <div class="large-6 columns">
            <div class="spacing-20"></div>
            <img src="~/img/aboutimg2.png">
        </div>
        <div class="large-6 columns bigh1 left">
            <h1>History</h1>
            <p>
                Amazingmail pioneered the web to print industry with a site that allowed consumers to create and send real postcards to friends and family simply by uploading their digital photos. Businesses quickly realized that the same process could be used to greatly simplify the process of sending their direct mail campaigns.
            </p>
            <p>
                Since those humble beginnings, Amazingmail has developed into a leading technology-driven, direct mail solutions provider. We offer <span class="darkorange">self-service</span> and <span class="darkorange">full-service</span> direct mail, <span class="darkorange">automated direct mail</span> API and white label <span class="darkorange">direct mail portals</span>.
            </p>
            <p>
                Due to our unique product line and value-added services, Amazingmail is unequalled in the digital direct mail marketing space. By leveraging its U.S. Patented No. 6,732,152, Amazingmail can produce and mail a superior quality, personalized mail piece the very next business day, in quantities as few as one. Amazingmail makes personalized marketing quick, easy and cost effective.
            </p>
        </div>
    </div>
</div>

