<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AmazingMail | Real Cards... Real Connections</title>
    <link rel="stylesheet" href="~/css/foundation.css" />
    <link rel="stylesheet" href="~/css/slick.css" />
    <link rel="stylesheet" href="~/css/slick-theme.css" />
    <script src="~/js/vendor/jquery.js" type="text/javascript"></script>
    <script src="~/js/vendor/modernizr.js" type="text/javascript"></script>
    <script src="~/js/foundation.min.js" type="text/javascript"></script>
    <script src="~/js/slick.js" type="text/javascript"></script>
    <script src="~/js/jquery-ui.js" type="text/javascript"></script>
    <script type="text/javascript">

    if(navigator.userAgent.match(/iPad/i)){
      //alert("ipad");
      document.write('<link rel="stylesheet" href="css/ipad-fix.css" />');
}
    </script>
</head>
<body>
    <div class="logo-menu withbg">
        <div class="row">
            <div class="top">
                <header class="site-header" data-magellan-expedition="fixed">
                    <nav data-topbar="" class="top-bar">
                        <ul class="title-area">
                            <li class="name">
                                <div class="large-3 columns">
                                    <div class="logo"><a href="~/Home/Index"><img src="~/img/logo.png"></a></div>
                                </div>
                            </li>
                            <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
                        </ul>
                        <section class="top-bar-section">
                            <div class="large-9 columns">
                                <div class="topwidget">
                                    <span class="myaccount"><a href="#">My Account</a></span>
                                    <span class="phonenumber"><a href="tel:888.681.1214">888-681-1214</a></span>
                                </div>
                                <div class="menu">
                                    <ul>
                                        @*<li><a href="/BusinessSolutions/Index">Business Solutions</a></li>*@
                                        @*<li><a href="/Products/Index">Products</a></li>*@
                                        <li class="has-dropdown not-click">
                                            <a href="/BusinessSolutions/Index" data-dropdown="hover2" data-options="is_hover:true">Business Solutions</a>
                                            <ul id="hover2" class="f-dropdown" data-dropdown-content>
                                                <li><a href="~/BusinessSolutions/WhiteLabelFullFillmentSolutions">White Label Fulfillment</a></li>
                                                <li><a href="~/BusinessSolutions/AutomatedDirectMail">Automated Direct Mail</a></li>
                                                <li><a href="~/BusinessSolutions/PrintOnDemandWebPortals">>Print on Demand Web Portals</a></li>
                                                <li><a href="~/BusinessSolutions/ResponseTracking">Response Tracking</a></li>                                                <li><a href="/Products/Letters">Letters</a></li>
                                                <li><a href="~/BusinessSolutions/VariableData">Variable Data</a></li>
                                                <li><a href="~/BusinessSolutions/TargetedMailingList">Targeted Mailing Lists</a></li>
                                                <li><a href="~/BusinessSolutions/GraphicDesign">Graphic Design</a></li>
                                                <li><a href="~/BusinessSolutions/TradeShowCollateral">Tradeshow Collateral</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-dropdown not-click">
                                            <a href="/Products/Index" data-dropdown="hover1" data-options="is_hover:true">Products</a>
                                            <ul id="hover1" class="f-dropdown" data-dropdown-content>
                                                <li><a href="/Products/PostCards">Post Cards</a></li>
                                                <li><a href="#">Flat Cardsnotwrking</a></li>
                                                <li><a href="/Products/FoldedCards">Folded Cards</a></li>
                                                <li><a href="/Products/CardsInEnvelopes">Cards in Envelopes</a></li>
                                                <li><a href="/Products/Brochures">Brochures</a></li>
                                                <li><a href="/Products/Letters">Letters</a></li>
                                                <li><a href="/Products/Flyers">Flyers</a></li>
                                                <li><a href="/Products/BusinessCards">Business Cards</a></li>
                                                <li><a href="/Products/PopOutAndPerforated">Pop Out and Perforated</a></li>
                                                <li><a href="/Products/ScratchOff">Scratch Off</a></li>
                                                <li><a href="/Products/Magnets">Magnets</a></li>
                                            </ul>
                                        </li>



                                        <li><a href="/Gallery/Index">Gallery</a></li>
                                        @*<li><a href="#">Pricing</a></li>*@
                                        <li class="has-dropdown not-click">
                                            <a href="#" data-dropdown="hover3" data-options="is_hover:true">Pricing</a>
                                            <ul id="hover3" class="f-dropdown" data-dropdown-content>
                                                <li><a href="/Products/PostCards">Post Cards</a></li>
                                                <li><a href="#">Flat Cardsnotwrking</a></li>
                                                <li><a href="/Products/FoldedCards">Folded Cards</a></li>
                                                <li><a href="/Products/CardsInEnvelopes">Cards in Envelopes</a></li>
                                                <li><a href="/Products/Brochures">Brochures</a></li>
                                                <li><a href="/Products/Letters">Letters</a></li>
                                                <li><a href="/Products/Flyers">Flyers</a></li>
                                                <li><a href="/Products/BusinessCards">Business Cards</a></li>
                                                <li><a href="/Products/PopOutAndPerforated">Pop Out and Perforated</a></li>
                                                <li><a href="/Products/ScratchOff">Scratch Off</a></li>
                                                <li><a href="/Products/Magnets">Magnets</a></li>
                                            </ul>
                                        </li>

                                        @*<li><a href="#">Support</a></li>*@
                                        <li class="has-dropdown not-click">
                                            <a href="#" data-dropdown="hover4" data-options="is_hover:true">Support</a>
                                            <ul id="hover4" class="f-dropdown" data-dropdown-content>
                                                <li><a href="/Support/Contact">Contact</a></li>
                                                <li><a href="/Support/FAQ">FAQ</a></li>
                                                <li><a href="/Support/Tips">Tips</a></li>
                                                <li><a href="/Support/Samples">FAQ</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/About/Index">About</a></li>
                                        @*<li><a href="#">Resources</a></li>*@
                                    </ul>
                                </div>
                            </div>
                        </section>
                    </nav>
                </header>
            </div>
        </div>
    </div>
   
    <div>
        @RenderBody()
    </div>

    <div class="testimonials">
        <div class="row">
            <h1 class="aligncenter paddingtop">Success Stories</h1>
            <div class="autoplay">
                <div>
                    <p>“To increase response rates, Amazingmail recommended using the image personalization feature to enhance their cards. About 4 weeks after the mailing of 1217 cards went out, the company claimed they received more calls with this card than any other mailing they had ever done.”</p>
                    <span>Keystone Healthcare</span>
                    <img src="~/img/testlogo.png">
                </div>
                <div>Lorem ispum dolor emit.</div>
                <div>your content</div>
            </div>
        </div>
    </div>

    <footer>
        <div class="blueportion">
            <div class="row">
                <h2>Ready to start seeing results?</h2>
                <h3 class="light">Give us a call at <span class="orange">888-681-1214</span> and one of our direct mail experts can get you started.</h3>
            </div>
        </div>
        <div class="firstline">
            <div class="row">
                <div class="large-6 columns asseenon">
                    <span>As Seen On</span>
                    <img src="~/img/asseenon.png">
                </div>
                <div class="large-6 columns newsletter">
                    <span>Enter your email address to receive special offers</span>
                    <div class="bginputtype">
                        <form action="#" method="post">
                            <input type="text" class="inputtext" placeholder="Your Email...">
                            <input type="submit" value="Submit" class="submitbutton">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="secondline">
            <div class="row">
                <div class="large-9 columns">
                    <ul class="firstlinks">
                        <li><a href="/BusinessSolutions/Index">Business Solutions</a></li>
                        <li><a href="/Products/Index">Products</a></li>
                        <li><a href="#">Templates</a></li>
                        <li><a href="/Products/Index">Pricing</a></li>
                        <li><a href="/Support/Contact">Support</a></li>
                        <li><a href="/About/Index">About</a></li>
                        @*<li><a href="#">Resources</a></li>*@
                    </ul>
                    <ul class="secondlinks">
                        <li><a href="#">User Agreement</a></li>
                        <li><a href="#">Copyright Policy</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li>© 2015 Amazingmail.com®, Inc. All rights reserved . U.S. Patent No. 6,732,152</li>
                    </ul>
                </div>
                <div class="large-3 columns snsfooter">
                    <span>Connect With Us:</span>
                    <ul class="sns">
                        <li><a href="#" class="facebook">Facebook</a></li>
                        <li><a href="#" class="linkedin">Linkedin</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
  
    <script type="text/javascript">
        $(document).foundation();
    </script>
    <script type="text/javascript">
        $('.autoplay').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            arrows: false,
            dots: true,
            autoplaySpeed: 2000,
        });
    </script>
    @*<script type="text/javascript">


        $(".listofbusiness .picall").hover(
          function () {
              $(this).addClass("hover");
              $(this).find(".heading").hide();
          }, function () {
              $(this).find(".heading").show();
          }
        );
    </script>*@
    <script type="text/javascript">
        var ie = (function () {

            var undef,
                v = 3,
                div = document.createElement('div'),
                all = div.getElementsByTagName('i');

            while (
                div.innerHTML = '<!--[if gt IE ' + (++v) + ']><i></i><![endif]-->',
                all[0]
            );

            return v > 4 ? v : undef;

        }());

        if (ie < 9) {
            alert("Please update your Internet Explorer to version 9 or later.");
            window.location.href = "http://windows.microsoft.com/en-us/internet-explorer/download-ie";
        }
    </script>
</body>
</html>
